!!!5
html
  head
    title Welcome to Gauntlet of the Dead
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    //- Scripts go here
    script(src='/javascripts/vendor/crafty.js')
    script(src='/javascripts/app/game.js')
