!!!5
html
  head
    title Welcome to Gauntlet of the Dead
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    //- Scripts go here
    link(rel='javascript', href='/javascripts/vendor/crafty.js')
