!!!5
html
  head
    title Welcome to Gauntlet of the Dead
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
    //- Scripts go here
    script(src='/vendor/jquery-2.0.0.min.js')
    script(src='/javascripts/vendor/crafty.js')
    script(src='/javascripts/app/game.js')
    each script in scripts
      script(src=script)
      - console.log("NOTE: Loading file ->" + script);
